.container {
	border-top: 6em solid #e6f0fa;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #e6f0fa;
	min-height: 70vh;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #e6f0fa;
	width: 80%;
	margin: 0 auto;
}
