header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	z-index: 99;
	position: fixed;
	width: 100%;
	top: 0;
}

.logo {
	max-width: 8em;
}

header > img:hover {
	cursor: pointer;
}

header > ul {
	list-style: none;
	display: flex;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	gap: 1em;
}

.navbar > li > a {
	text-decoration: none;
	color: #222222;
}

footer {
	display: flex;
	justify-content: center;
	bottom: 0;
	background-color: #222222;
	color: #ffffff;
}
