.container {
	border-top: 6em solid transparent;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f6;
	padding: 1em;
	box-sizing: border-box;
}

.description {
	max-width: 700px;
	text-align: left;
	font-size: 2rem;
	color: #333;
	margin-bottom: 2em;
	margin: 0.5em auto;
}
